main {
    height: calc(100vh - 240px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main div {
    position: relative;
    display: flex;
}

.starTop {
    animation: twinkle 1s infinite;
    position: absolute;
    top: 20px;
    left: 10px;
}

.starBottom {
    animation: twinkle 1.5s infinite;
    position: absolute;
    bottom: 0;
    right: 0;
}

@keyframes twinkle {
    50% {
        transform: scale(120%);
    }
}

main p {
    margin-top: 30px;
    text-align: center;
}