.products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 40%;
    justify-content: center;
    gap: 40px 15px;
    padding-bottom: 90px;
}

#product {
    width: 45%;
    position: relative;
}

#product img {
    width: 100%;
}

.like {
    all: unset;
    background: none;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
}

.bi-heart, 
.bi-heart-fill.on
{
    display: block;
}

.bi-heart.on,
.bi-heart-fill
{
    display: none;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.title {
    font-size: 12px;
}

.price {
    font-size: 10px;
    color: #666;
}

.filters {
    display: flex;
    width: 100%;
    padding: 0 4.8%;
    justify-content: right;
    font-size: 14px;
    margin: 15px 0;
}

.filters select {
    background: none;
    border: none;
    border-bottom: 1px solid #000;
    padding-right: 10px;
    outline: none;
}